@import "tailwindcss";

@config "../tailwind.config.js";

/* FORÇAR em todos os elementos */
*::-webkit-scrollbar {
  width: 1px !important;
  height: 1px !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff !important;
  border-radius: 1px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: #ffffff !important;
}

/* Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #ffffff transparent !important;
}

/* IE/Edge */
* {
  -ms-overflow-style: auto !important;
}

